aws sso login --profile set_me
aws eks update-kubeconfig --region set_me --name set_me --profile set_me
# To get your contexts uses `kubectl config get-contexts`
export KUBE_DEV_CONTEXT="set_me"
# Set the namespace to something that makes sense for your dev cloud env
export DEV_NAMESPACE="set_me"

# Set the base host for the dev environment
export DEV_BASE_HOST="set_me"

# Set the default registry for the dev environment
# This is the public ECR registry, you can change it to your own if needed
export DEFAULT_REGISTRY="public.ecr.aws"
# Example: public.ecr.aws/your-org/your-repo
# DEFAULT_REGISTRY_SINGLE_NAME would be 'your-org/your-repo'
export DEFAULT_REGISTRY_SINGLE_NAME="set_me"
