# To ensure functionality, start your variable name with NEXT_PUBLIC_ to get it to work

NEXT_PUBLIC_API_URL = http://localhost:8080
NEXT_PUBLIC_ENV = dev
NEXT_PUBLIC_DEV_ADMIN_EMAIL = admin@admin.com
NEXT_PUBLIC_AUTH_COOKIE = _oauth2_proxy
NEXT_PUBLIC_USER_INFO_COOKIE_NAME = user
NEXT_PUBLIC_ENV_LOGIN_URL = null
NEXT_PUBLIC_ENV_LOGOUT_URL = null
NEXT_PUBLIC_PLATFORM_DOMAIN_BASE = null
NEXT_PUBLIC_PLATFORM_SCHEMA_BASE = null
NEXT_PUBLIC_SENTRY_DSN = null
# Optional
# NEXT_PUBLIC_HIDDEN_GATHER_TYPES = "key1,key2"
# NEXT_PUBLIC_SENTRY_TRACES_SAMPLE_RATE = 0.0
# NEXT_PUBLIC_SENTRY_RELEASE = null
# NEXT_PUBLIC_SENTRY_ENVIRONMENT = null
# NEXT_PUBLIC_SENTRY_DEBUG = false
# NEXT_PUBLIC_SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE = 0.0
# NEXT_PUBLIC_SENTRY_REPLAYS_SESSION_SAMPLE_RATE = 0.0
