# These are the shared requirements for both the cpu and gpu dependencies
types-transformers

pandas
pandas-stubs
pyarrow
pyarrow-stubs
fastparquet
# Fixing version to avoid dependency conflicts
datasets==3.5
google-cloud-storage
gcsfs
tqdm-stubs
# This needs to match the version in the helm chart or there are problems
prefect[gcp]==3.6.2
PyYAML
types-PyYAML
sentencepiece
# Xet Storage for optimized Hugging Face model downloads
hf_xet
